@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>

<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" asp-route-category="" class="btn btn-outline-secondary">Home</a>

    @foreach (string tn in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-teamname="@tn"
           class="btn @(ViewBag.Category == tn ? "btn-primary" : "btn-outline-secondary")">
        @tn</a>
    }
</div>